In [5]:
# !pip install sqlalchemy
# !pip install psycopg2-binary

In [6]:
import pandas as pd
from sqlalchemy import create_engine
import time

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
jan_2021_pq = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet')

In [9]:
jan_2021_pq.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [10]:
jan_2021_pq.to_csv('jan_2021.csv', index=False)
jan_2021_csv = pd.read_csv('jan_2021.csv', iterator=True, chunksize=50000)

In [11]:
jan_2021 = next(jan_2021_csv)
jan_2021.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
print("Ingested column names")
while True:
    start = time.time()
    jan_2021 = next(jan_2021_csv, None)
    if jan_2021 is None:
        break
    jan_2021.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
    end = time.time()
    print("Inserted another chunk in {} seconds".format(end - start))
print("Done!")

Ingested column names
Inserted another chunk in 4.078020811080933 seconds
Inserted another chunk in 3.4911341667175293 seconds
Inserted another chunk in 3.4647417068481445 seconds
Inserted another chunk in 3.836190938949585 seconds
Inserted another chunk in 3.6242871284484863 seconds
Inserted another chunk in 3.598342180252075 seconds
Inserted another chunk in 3.6857821941375732 seconds
Inserted another chunk in 3.5772368907928467 seconds
Inserted another chunk in 3.6040871143341064 seconds
Inserted another chunk in 3.5825793743133545 seconds
Inserted another chunk in 3.5320498943328857 seconds
Inserted another chunk in 3.5787408351898193 seconds
Inserted another chunk in 3.606260299682617 seconds
Inserted another chunk in 4.129343271255493 seconds
Inserted another chunk in 3.6847259998321533 seconds
Inserted another chunk in 3.601300001144409 seconds
Inserted another chunk in 3.6971988677978516 seconds
Inserted another chunk in 3.510680913925171 seconds
Inserted another chunk in 3.7054049968719482 seconds
Inserted another chunk in 3.5679750442504883 seconds
Inserted another chunk in 3.5803980827331543 seconds
Inserted another chunk in 3.621016025543213 seconds
Inserted another chunk in 3.671342134475708 seconds
Inserted another chunk in 4.088572978973389 seconds

/var/folders/tk/h_l2h9c52pd6t_j8ljswx_cc0000gn/T/ipykernel_30201/2893753320.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_2021 = next(jan_2021_csv, None)

Inserted another chunk in 3.5198700428009033 seconds
Inserted another chunk in 3.2940168380737305 seconds
Inserted another chunk in 1.3450751304626465 seconds
Done!